<header class="article-info clearfix">
  <h1 itemprop="name">
    <% if(item.link) { %>
      <a href="<%- item.link %>" target="_blank" title="<%= item.title %>"><%= item.title %></a><% } else { %>
      <a href="<%- config.root %><%- item.path %>" title="<%= item.title %>" itemprop="url"><%= item.title %></a><% } %>
  </h1>
  <p class="article-author">By
       <% if(theme.author.google_plus){ %>
		<a href="https://plus.google.com/<%=theme.author.google_plus %>?rel=author" title="<%= config.author %>" target="_blank" itemprop="author"><%= config.author %></a>
		<% }else{ %>
		<a href="<%= config.root %>about" title="<%= config.author %>" target="_blank" itemprop="author"><%= config.author %></a>
		<% } %>
  <p class="article-time">
    <time datetime="<%= date_xml(item.date) %>" itemprop="datePublished"> <%= __('datepublished') %> <%= item.date.format(config.date_format) %></time>
    
  </p>
  <!-- LikeBtn.com BEGIN -->
  <% if (!index) { %>
  <p class="article-like">
    <span class="likebtn-wrapper" data-theme="roundthumb" data-ef_voting="wobble" data-show_like_label="false" data-counter_clickable="true" data-counter_frmt="km" data-counter_zero_show="true" data-loader_show="true" data-tooltip_enabled="false" data-site_id="59929e746fd08bad21f105c2"></span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
  </p>
  <% } %>
  <!-- LikeBtn.com END -->
</header>