<% if (theme.index.expand == true) { %> 
    <% if (page.layout=='photo' && item.photos && item.photos.length){ %>
      <%- partial('post/gallery') %>
    <% } %>
    <article class="post-expand <%= item.layout %>" itemprop="articleBody"> 
        <%- partial('post/header', { index: index }) %>
    <div class="article-content">
        <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
        <% } else { %>
        <%- item.content %>
        <% } %>
        
        <p class="article-more-link">
          <% if (item.excerpt && index && theme.index.excerpt_link){ %>
            <a href="<%- url_for(item.path) %>#more"><%= theme.index.excerpt_link %></a>
          <% } %>
       </p>
    </div>
    <%- partial('post/footer', {index: true}) %>
    </article>
<% }else{ %>
<section class="post" itemscope itemprop="blogitem">
  <% if (item.link) { %> 
    <a href="<%- item.link %>" target="_blank"> 
  <% } else{ %>
    <a href="<%- config.root %><%- item.path %>" title="<%= item.title %>" itemprop="url">
  <% } %>
    <h1 itemprop="name"><%= item.title %></h1>
    <% if (desc){ %>
     <% if(item.description){ %>
      <p itemprop="description" ><%- item.description %></p>
      <% } else if(item.excerpt){ %>
       <p itemprop="description" ><%= strip_html(item.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
      <% } else {%>
           <p itemprop="description" ><%= strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
        <% } %>
    <% } %>
    <time datetime="<%= date_xml(item.date) %>" itemprop="datePublished"><%= item.date.format(config.date_format) %></time>
  </a>
</section>
<% } %>



