.post,.page,.link,.photo
  background color-section
  a
    color color-blue 
    &:hover
      color color-orange     //color-theme

article
  header.article-info
    @media mini
      border-bottom 1px solid lighten(color-gray,30%)
    >h1
      padding 0.2em 3%
      font-size font-size+70
      line-height line-height
      @media tablet
        font-size font-size+100
        padding-top 0.3em
      word-wrap break-word 
      word-break normal
      font-smoothing antialiased
      border-left 5px solid color-theme
    >p.article-like
      padding-left 4%
      @media mini
        float left
    >p.article-author
      padding 0.3em 4% 0.3em 0
      text-align right
      border-bottom 1px solid lighten(color-gray,30%)
      @media mini
        float right
        border-bottom none
    >p.article-time
      padding-top 0.5em
      font-size 0.8em
      text-align center
      margin-bottom -2.7em
      @media mini
        float right
        margin-right 1em
        padding-top 0.1em
        font-size 0.9em
      &:before
        font-family font-icon-family
        font-size font-size+30
        content "\f017"
        font-smoothing()      
  .article-content
    padding 1.5em 4%
    color color-content
    font-size font-size
    &:before,&:after
      content ""
      display block
      clear both
    .kb
      padding .1em .6em
      border 1px solid color-gray
      background-color code-color
      color darken(color-gray,30%)
      box-shadow 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px color-white inset
      border-radius 3px
      display inline-block
      margin 0 .1em;
      text-shadow 0 1px 0 color-white
      line-height line-height
      white-space nowrap
    h1,h2
      font-size font-size+80
      line-height 1.2em
      padding-bottom 0.3em
      margin-top 1.5em
      border-bottom 2px solid lighten(color-gray,30%)
    h3
      font-size font-size+40
      line-height 1em
      margin-top 1.3em
    h4,h5,h6
      font-size font-size+40
    h1,h2,h3,h3,h4,h5,h6
      color color-heading
      font-smoothing antialiased
      >code
        color darken(color-gray,20%)
    hr 
      border 1px solid lighten(color-gray,30%)
    strong
      font-weight bold
    em
      font-style italic
    acronym,abbr
      border-bottom 1px dotted
    blockquote
      border-left .2em solid color-theme
      margin 0.65em 0 0.65em 1%
      padding-left 1%
      line-height line-height
      font-size font-size
      color color-meta
      footer
        background color-section
        padding 0
        margin 0
        font-size 80%
        line-height 1em
      cite
        font-style italic
        padding-left 0.5em
    ul,ol
      padding-left 1.5em
      font-size font-size
      padding-top 0.7em
      @media mini
        padding-left 1.5em
    ul li
      list-style disc
      text-align match-parent
      //margin 0.5em 0
    ol li
      list-style-type decimal
      //margin 0.5em 0
    dl dt
      font-weight blod
    ul li>code,ol li>code,p code,strong code,em code,table th>code,table td>code
      font-family font-mono
      background color-code
      color #D14
      border 1px solid darken(color-code,10%)
      padding 0 5px
      margin 0 2px
      font-size 90%
      white-space nowrap
      text-shadow 0 1px #fff
      -webkit-border-radius 0.25em
      border-radius 0.25em
    p
      line-height line-height
      margin-top 0.7em
      @media tablet
        margin-top 1em
    img,video,figure img
      max-width 100%
      //display block
      //margin auto
      height auto
      vertical-align middle
      padding-top 0.5em
      @media tablet 
        padding-top 0.7em
    .img-topic,.img-logo
      display none
    .img-center
      display block 
      margin auto
    .img-shadow
      box-shadow 0 0 2px 3px #ddd
    figcaption,.caption
      display block
      margin-top .3em
      color color-meta
      position relative
      font-size 0.9em
      padding-left 1.3em
      &:before
        content '\f040'
        position absolute
        font 0.9em font-icon-family
        position absolute
        left 0
        top .3em
    .video-container
      position relative;
      padding-top 56%
      height 0
      overflow hidden
      iframe,object,embed
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        margin-top 0
    table
      max-width 100%
      border-collapse collapse
      border-spacing 0
      margin-top: 1em
      th
        font-weight bold
        border-bottom 2px solid lighten(color-gray,30%)
        padding 0.5em
        line-height: 1.3em
      td 
        border-bottom 1px solid lighten(color-gray,30%)
        padding 0.5em
        line-height: 1.3em
    .pullquote
      text-align left
      width 45%
      margin 0
      border none
    .left
      margin-left 0.5em
      margin-right 1em
      float left
    .right
      margin-right 0.5em
      margin-left 1em
      float right
